{% extends 'base.html' %}
{% load static %}

{% block content %}
{#    <form action="{% url 'product:add' %}">#}
        <button
            class="js-create-good btn btn-primary"
            data-goods-url="{% url 'product:add' %}"
        >Добавить продукт</button>
{#    </form>#}

    <table class="table">
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Дата добавления</th>
            <th>Единица измерения</th>
            <th>Поставщик</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.date }}</td>
                <td>{{ product.unit }}</td>
                <td>{{ product.provider }}</td>
            </tr>
        {% endfor %}
    </table>



{% endblock %}
